/* Background pattern from Toptal Subtle Patterns */
/* https://www.toptal.com/designers/subtlepatterns/faq/ */

body {
    background-color: #EFEFEF;
    background-image: url("./diamond_upholstery/diamond_upholstery_@2X.png");
    overflow-y: hidden;
    font-family: 'Helvetica';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pageTitle {
    padding: 1%;
}

.subtleOpacity {
    background-color: rgba(255, 255, 255, 0.548) !important;
}